@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    background-color: rgb(222, 214, 214);
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* HEADER */

#header{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .header{
    min-height: 8vh;
    background-color:rgba(29, 24, 24, 0.365) ;
    transition: .3s ease background-color;
}

#header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 30px;
}

#header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: rgb(12, 10, 10);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    flex-direction: column;
    transition: .7s ease left;
}

#header .nav-list ul.active{
    left: 0%;
}

#header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

#header .nav-list ul a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    color: rgba(240, 248, 255, 0.021);
    transition: .9s ease letter-spacing;
}

#header .nav-list ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

#header .nav-list ul li:hover a{
    color: crimson;
}

#header .hamburger{
    z-index: 100;
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
}

#header .hamburger::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburgers_puls 1.5s ease infinite;
}

#header .hamburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top, botton;
}

#header .hamburger .bar::after{
    top: 8px;
}

#header .hamburger .bar::before{
    bottom: 8px;
}

#header .hamburger.active .bar::before{
    bottom: 0;
}

#header .hamburger.active .bar::after{
    top: 0;
}

/* TERMINA HEADER */

/* SECCION HERO */
#hero{
    background-image: url(https://cimg3.ibsrv.net/ibimg/hgm/1920x1080-1/100/874/lamborghini-invencible_100874111.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#hero::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .5;
    z-index: -1;
}

#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: center;
}

#hero h1{
    display: block;
    width: fit-content;
    font-size: 3.5rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}

#hero h1:nth-child(1){
    animation-delay: 1s;
}

#hero h1:nth-child(2){
    animation-delay:2s ;
}

#hero h1:nth-child(3){
animation-delay:3s ;
}

#hero h1:nth-child(1) span{
    animation-delay: .5s;
}

#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}

#hero h1:nth-child(3) span{
    animation-delay: 2.5s;
}

#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: .3s;
}

#hero .cta{
    display: inline-block;
    padding: 10px 30px;
    color: crimson;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    margin-top: 30px;
    transition: background-color .3s ease, color .3s ease;
    color: rgb(203, 178, 178);
}

#hero .cta:hover{
    background-color: crimson;
    color: white;
    text-transform: uppercase;
}
/* TERMINA SECCION HERO */

/* keyframe */

@keyframes hamburgers_puls{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.3);
    }
}

@keyframes text_reveal_box {
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal{
    100%{
        color: white;
    }
}
/* termina keyframe */



/* SECCION MARCAS */

#marcas .marcas{
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#marcas .section-title{
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: black;
    margin-bottom: 20px;
}


#marcas .section-title span{
    color: crimson;
}

#marcas .marcas-top{
    font-size: 1.3rem;
    margin-top: 5px;
    margin-bottom: 20px;
    line-height: 2.5rem;
    font-weight: 200;
    letter-spacing: .05rem;
}

#marcas .marcas-button{
    display: flex;
    align-items: center;
    justify-self: center;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 100px;
}

#marcas .marcas-item{
    margin-bottom: 20px;
    background-color: rgb(48, 47, 47);
    width: 100%;
    border-radius: 1rem;
    padding: 20px;
}



.marcas .marcas-button .icon img{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

#marcas .marcas-item h2{
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: white;
    
}

#marcas .marcas-item p{
    color: rgb(201, 173, 173);
    font-weight: 200;
    text-align: center;
}
/* TERMINA SECCION MARCAS */

/* SECCION CONTACTO */

#contact .contact{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

#contact .contact-items{
    width: 400px;
}

#contact .contact-item{
    width: 80%;
    pad: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #393737;
    transition: .3s ease box-shadow;
}

#contact .contact-item:hover{
    box-shadow: 0px 0px 5px 0 #393737;
}

#contact icon{
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#contact .contact-info h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}


#contact .contact-info h2{
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}

#contact .section-title2{
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: black;
    margin-bottom: 20px;
}


#contact .section-title2 span{
    color: crimson;
}


/* TERMINA SECCION CONTACTO */


/* EMPIEZA FOOTER */

#footer{
    background-color: #29323c;
}

#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 10px;
}

#footer h2{
    color: rgb(227, 196, 196);
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .1rem;
    margin-bottom: 10px;
}

#footer .social-icon{
    display: flex;
    margin-bottom: 30px;
}

#footer .social-item{
    height: 50px;
    width: 50px;
    margin: 0 10px;
}

#footer .social-item i{
    font-size: 50px;
     color: rgb(190, 162, 162);
    /* background-color: transparent;  */
    filter: grayscale(0);
}

.brand h1{
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
}

.brand h1 span{
    color: rgb(255, 8, 8);
}


/* TERMINA FOOTER */



/* MEDIA QUERIE PARA TABLET */

@media only screen and (min-width:768px){
    #hero .cta{
        font-size: 2.5rem;
        padding: 20px 30px;
    }
    #marcas .section-title{
        font-size: 5rem;
    }
    #hero h1{
        font-size: 6rem;
    }
    /* seccion marcas */

    #marcas .marcas-button{
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 550px;
    }

    #marcas .marcas-item p{
        color: rgb(201, 173, 173);
        font-weight: 200;
        text-align: center;
        
    }
    /* TERMINA MARCAS */
    
    /* EMPIEZA CONTACTOS */

    #contact .contact {
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-height: 20vh;
    }

    #contact .contact-items{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    #contact .contact-item{
        margin: 20px;
        padding: 10px;
    }

    #contact .contact-item img{
        height: 80px;
        width: 80px;
    }

    /* TERMINA CONTACTO */
}


/* TERMINA MEDIA QUERIA TABLET */



/* MEDIA QUERIE DESKET */


@media only screen and (min-width:1440px) {
    #marcas .marcas-button{
        display: flex;
        align-items: center;
        justify-self: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 100px;
        padding-right: 100px;
    }
    
    #marcas .marcas-item{
        margin-bottom: 20px;
        background-color: rgb(48, 47, 47);
        width: 100%;
        border-radius: 1rem;
        padding: 10px;
    }
    #marcas .marcas{
    flex-direction: row;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
    }

    #marcas .marcas-top p{
        display: none;
    }

    #marcas .marcas .marcas-top{
        width: 1000px;
    }
    #header .hamburger{
        display: none;
    }
    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul li {
        display: inline-block;

    }
    #header .nav-list ul li a{
        font-size: 1.6rem;
    }

    #header .nav-list ul a::after{
        display: none;
    }
}



















/* TERMINA MEDIA QUERIE PARA TBALET */